*{
    margin: 0;
    padding: 0;

}
:root{

}
.cabecalho{
    background-color: rgb(255, 0, 13);
    padding: 50px;
}
.corpo{
    background-color: rgb(255, 0, 0);
}
.footer{
    background-color: rgb(255, 0, 0);
}